.box{
    padding: 20px;
    margin: 20px;
    float:left;

    /*
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: blue;/ 3proper properties for border 3xtop*/

   /* border: 10px solid blue /*szybszy sposob niz ten wyzej*/


}

.dashed{
    border: 4px dashed blue
}

.dotted{
    border: 4px dotted blue
}

.double{
    border: 4px double blue
}

.groove{
    border: 14px groove blue
}

.inset{
    border: 14px inset blue
}

.outset{
    border: 14px outset blue
}

.ridge{
    border: 14px ridge blue
}

.solid{
    border: 4px solid blue
}
